<% content_for :side_menu do %>
  <div class="container-fluid tpm-container">
    <div class="row-fluid">
      <div class="span3 tpm-box">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Communication</li>
              <li><a href="#">コミュニケーション</a></li>
              <li class="nav-header">課題・変更管理</li>
              <li><a href="#">課題管理</a></li>
              <li><a href="#">変更管理</a></li>
              <li class="nav-header">ユーザー管理</li>
              <li class="active"><%= link_to('ユーザー', { :controller => 'users' } ) %></li>
              <li><a href="#">グループ</a></li>
              <li><a href="#">グループ</a></li>
            </ul>
          </div><!--/.well -->
      </div>
<% end %>
aaa

a

