<% content_for :submenu do %>
  <ul class="nav nav-pills">
    <li class="active"><%= link_to t('menu.sub.settings.general'), '#' %></li>
    <li><%= link_to t('menu.sub.settings.users'), { :controller => 'users' } %></li>
    <li><%= link_to t('menu.sub.settings.groups'), '#' %></li>
  </ul>
<% end %>
<legend><%= t('title.settings.general') %></legend>



ぷんすこ

