<% content_for :submenu do %>
  <ul class="nav nav-pills">
    <li class="active"><a href="#">コミュニケーション</a></li>
    <li><a href="#">課題管理</a></li>
    <li><a href="#">変更管理</a></li>
  </ul>
<% end %>
管理index

