<% content_for :side_menu do %>
  <div class="container-fluid tpm-container">
    <div class="row-fluid">
      <div class="span3 tpm-box">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">HOME</li>
              <li class="active"><a href="#">アクティビティ</a></li>
            </ul>
          </div><!--/.well -->
      </div>
<% end %>

<div>
    <legend>アクティビティ</legend>
    <ul>
        <li>○○さんがXXXに着手しまましたたたたたたたたたしたたたたたたたたたたたたたたしたたたたたたたたたたたたたたしたたたたたたたたたたたたたたしたたたたたたたたたたたたしたたたたたたた</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
    </ul>
</div>
