<% content_for :submenu do %>
    <ul class="nav nav-pills">
      <li><a href="#">アクティビティ1</a></li>
      <li class="active"><a href="#">アクティビティ2</a></li>
      <li><a href="#">アクティビティ3</a></li>
      <li><a href="#">アクティビティ4</a></li>
      <li><a href="#">アクティビティ5</a></li>
    </ul>
<% end %>

<div>
  <legend><%= t('title.activities_list') %></legend>
    <ul>
        <li>○○さんがXXXに着手しまましたたたたたたたたたしたたたたたたたたたたたたたたしたたたたたたたたたたたたたたしたたたたたたたたたたたたたたしたたたたたたたたたたたたしたたたたたたた</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
    </ul>
</div>
