<% content_for :submenu do %>
  <ul class="nav nav-pills">
    <li class="active"><%= link_to t('menu.sub.home.index'), '#' %></li>
  </ul>
<% end %>

<legend><%= t('title.home.dashboard') %></legend>

