<div>
    <legend>アクティビティ</legend>
    <ul>
        <li>○○さんがXXXに着手しまましたたたたたたたたたしたたたたたたたたたたたたたたしたたたたたたたたたたたたたたしたたたたたたたたたたたたたたしたたたたたたたたたたたたしたたたたたたた</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
    </ul>
</div>
