<% content_for :submenu do %>
    <ul class="nav nav-pills">
      <li class="active"><a href="#">アクティビティ</a></li>
      <li class=""><a href="#">アクティビティ</a></li>
    </ul>
  </div>
<% end %>

<div>
    <legend>アクティビティ</legend>
    <ul>
        <li>○○さんがXXXに着手しまましたたたたたたたたたしたたたたたたたたたたたたたたしたたたたたたたたたたたたたたしたたたたたたたたたたたたたたしたたたたたたたたたたたたしたたたたたたた</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
        <li>○○さんがXXXに着手しました</li>
    </ul>
</div>
