<% content_for :submenu do %>
  <ul class="nav nav-pills">
    <li><%= link_to(t('menu.sub.settings.user'), { :controller => 'users' } ) %></li>
    <li><a href="#"><%= t('menu.sub.settings.group') %></a></li>
  </ul>
<% end %>
<div>
  <legend><%= '設定' %></legend>
</div>
