/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require vendor
 *= require_tree .
*/
body {
  margin: 0px;
  padding-top: 50px;
  padding-bottom: 40px;
}

/* custom */
.tpm-container {
  padding: 0px 0px 0px -20px !important;
  padding-left: -20px !important;
}


.tpm-box {
/*  border: 1px solid #ccc; */
}

.row .tpm-box, .row-fluid .tpm-box { 
  overflow: auto;
  /*height: 650px; */
}


.tpm-footer {
  clear: both;
  margin: 0px 0px 0px 0px;
  padding: 7px 10px 2px 3px;
  text-align: right;
  border: 1px solid #ccc;
  height: 20px;
  color: #DDDDDD;
  background-color: #FB6492;
  background-image: -moz-linear-gradient(top, #FB6492, #AA0033);
  background-image: -ms-linear-gradient(top, #FB6492, #AA0033);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FB6492), to(#AA0033));
  background-image: -webkit-linear-gradient(top, #FB6492, #AA0033);
  background-image: -o-linear-gradient(top, #FB6492, #AA0033);
  background-image: linear-gradient(top, #FB6492, #AA0033);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FB6492', endColorstr='#AA0033', GradientType=0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.tpm-content {
  padding: 30px 20px;
  margin-bottom: 30px;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

