<!DOCTYPE html>
<html>
<head>
  <title>2PM</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="ch-header ch-box">
    <span class="head-title">2PM</span>
  </div>
  
  <div class="ch-fixed-sidebar ch-left">
   <div class="ch-box"> 
    <h2>Left sidebar fixed</h2>
    <!-- your sidebar here -->
   </div>
  </div>

  
  <div class="ch-elastic-content ch-right">
   <div class="ch-box">
    <!-- your content here -->
<%= yield %>
   </div>
  </div>

  <div class="ch-footer ch-box">
     &copy;2012 suVene&lt;suvene at zeromemory.info&gt;
  </div>

</body>
</html>
